<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>J Austify</title>

<body style="background-color:#edbae4">
  <div class="container p-5" style="background-color:#edbae4">
    <div class="row">
      <div class="col">
        <div class="jumbotron text-center">
          <h1 class="display-4"><code class="highlighter-rouge">🌸 Jane Austen Generator 🌸</code></h1>
          <p class="lead"> A Fill-in-the-Blanks Text Generator </p>
          <hr class="my-4">
          <a class="btn btn-lg text-white" href="/get_nouns" role="button" style="background-color:#e83e8c">Generate some text!</a>
        </div>
      </div>
    </div>
  </div>
</body>
